/*-----------------------------------------------------------------------------
 * core.css
 *
 * Commone Cascading Style Sheets which are shared by many pages
 *---------------------------------------------------------------------------*/

/************************************************
 * font definitions
 ***********************************************/

/* font definition for bold fonts */
@font-face {
    font-family: raleway-bold;
    src: url("../fonts/Roboto-Black.ttf");
}

/* font definition for regular fonts */
@font-face {
    font-family: raleway-regular;
    src: url("../fonts/Raleway-Light.ttf");
}

/************************************************
 * element overrides
 ***********************************************/

html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 100%;
}

body {
    display: flex;
    flex-direction: column;
    
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
    font-family: "raleway-bold";
    font-size: 4vmin;
    color: white;
}

header {
    font-size: 7vmin;
    
    margin: 1vmin;
    padding: 1vmin 4vmin;
}

/************************************************
 * common classes
 ***********************************************/

.exercise-span {
    min-width: 18vmin;
    height 16vmin;
    font-size: 14vmin;
}

.exercise-span.boxed {
    border-radius: 4vmin;
    background-color: white;
    color: black;
}

.button {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    
    
    min-width: 7vmin;
    height: 7min;
    font-size: 6vmin;
    
    background-color: burlywood;
    border-radius: 2vmin;
    
    margin: 1vmin;
    padding: 1vmin;
    
    cursor: pointer;
    
    animation-duration: 0.2s;
    animation-timing-function: ease-out;
}

.button:first-child {
    margin-left: 0;
}

.button:last-child {
    margin-right: 0;
}

.button:hover {
    background-color: sandybrown;
}

.button.bordered {
    border: 1vmin solid burlywood;
}

.button.bordered:hover {
    border: 1vmin solid sandybrown;
}

.button.bordered.selected {
    background-color: sandybrown;
    border: 1vmin solid chocolate;
}

.padded {
    margin: 1vmin;
    padding: 1vmin;
}

.horizontal {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.vertical {
    display: flex;
    flex-direction: column;
}

.center {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.center-horizontal {
    display: flex;
    align-items: center;
}

.center-vertical {
    display: flex;
    align-content: center;
    justify-content: center;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}