/*-----------------------------------------------------------------------------
 * core.css
 *
 * Commone Cascading Style Sheets which are shared by many pages
 *---------------------------------------------------------------------------*/

/************************************************
 * font definitions
 ***********************************************/

/* font definition for bold fonts */
@font-face {
    font-family: "default";
    src: url("../fonts/Petanque.otf");
}

/************************************************
 * element overrides
 ***********************************************/

html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 100%;
}

body {
    display: flex;
    flex-direction: column;
    
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
    font-family: "default";
    font-size: 6vmin;
    color: white;
}

header {
    font-size: 8vmin;
    
    margin: 1vmin;
    padding: 1vmin 4vmin;
}

/************************************************
 * common classes
 ***********************************************/

.billboard {
    background-image: url("../images/billboard.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
    margin-left: 1vmin;
    margin-right: 1vmin;
    
    padding-top: 1vmin;
    padding-left: 4vmin;
    padding-right: 4vmin;
    padding-bottom: 4vmin;
    
    overflow-y: auto;
}

.button {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    
    
    min-width: 7vmin;
    height: 7min;
    font-size: 6vmin;
    
    background-color: burlywood;
    border-radius: 2vmin;
    
    margin: 1vmin;
    padding: 1vmin;
    
    cursor: pointer;
    
    animation-duration: 0.2s;
    animation-timing-function: ease-out;
}

.button:hover {
    background-color: sandybrown;
}

.button.bordered {
    border: 1vmin solid burlywood;
}

.button.bordered:hover {
    border: 1vmin solid sandybrown;
}

.button.bordered.selected {
    background-color: sandybrown;
    border: 1vmin solid chocolate;
}

.padded {
    margin: 0.5vmin;
    padding: 0.5vmin;
}

.horizontal {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.vertical {
    display: flex;
    flex-direction: column;
}

.center {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.center-horizontal {
    display: flex;
    align-items: center;
}

.center-vertical {
    display: flex;
    align-content: center;
    justify-content: center;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}