/* fixes the position of the exercise type */
#type {
    position: fixed;
    left: 1vmin;
    top: 1vmin;
}

/* fixes the position of the progress */
#progress {
    position: fixed;
    right: 1vmin;
    top: 1vmin;
}

/* styling for the monkey */
#character {
    position: relative;
    overflow: hidden;
    top: 24vmin;
    
    width: 24vmin;
    height: 24vmin;
    
    -webkit-transform: translateX(0);
    transform: translateX(0);
    
    -webkit-transform: translateZ(-10px);
    transform: translateZ(-10px);
    
    z-index: -10;
    
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    
    animation-name: animation-start;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-timing-function: linear;
    animation-fill-mode: both;
}


#exercise {
    margin: 0;
    padding: 2vmin 2vmin;
    min-height: 22vmin;
    font-size: 300%;
}


#exercise-input {
    margin: 0 2vmin;
    min-width: 18vmin;
    height: 16vmin;

    border-radius: 4vmin;
    background-color: white;
    color: black;
}

#keyboard {
    margin: 0;
    padding: 0vmin;
    padding-top: 1vmin;
    padding-bottom: 2vmin;
}


.button {
    padding: 0.5vmin;
    min-height: 8.5vmin;
    min-width: 8.5vmin;
    font-size: 150%;
}

.exercise-wide {
    min-width: 18vmin;
    height: 16vmin;
}

.exercise-tight {
    min-width: 8vmin;
    height: 16vmin;
}

.exercise-wide.boxed {
    border-radius: 4vmin;
    background-color: white;
    color: black;
}

@keyframes animation-start {
    0% {
        top: 24vmin;
    }
    100% {
        top: 1vmin;
    }
}

@keyframes animation-correct {
    0% {
        top: 1vmin;
    }
    50% {
        top: 4vmin;
    }
    100% {
        top: 1vmin;
    }
}

@keyframes animation-wrong {
    0% {
        top: 1vmin;
    }
    25% {
        top: 4vmin;
        -webkit-transform: rotate(-5deg);
        transform: rotate(-5deg);
    }
    50% {
        top: 7vmin;
        -webkit-transform: rotate(5deg);
        transform: rotate(5deg);
    }
    75% {
        top: 10vmin;
        -webkit-transform: rotate(-5deg);
        transform: rotate(-5deg);
    }
    90% {
        top: 13vmin;
        -webkit-transform: rotate(5deg);
        transform: rotate(5deg);
    }
    100% {
        top: 1vmin;
    }
}