/*-----------------------------------------------------------------------------
 * Cascading Style Sheet for the Jungle Theme
 *
 * @author  Niels Billen
 * @version 0.1
 *---------------------------------------------------------------------------*/

body {
    background-color: rgb(221,248,255);
}

/* wooden frame background decorations */
.wood {
    background-image: url("../images/woodenframe.svg");
    background-repeat: repeat-x;
    background-size: contain;
}

/* background decorative elements */
.jungle-decoration {
    position: fixed;
    bottom: 0vmin;
    left: 0;
    right: 0;
    
    background-size: contain;
    background-repeat: repeat-x;
    
}

/* grass */
.jungle-decoration.grass {
    height: 20vmax;
    background-image: url("../images/foreground-grass.svg");
    z-index: -12;
}

/* trees */
.jungle-decoration.trees {
    height: 32vmax;
    background-image: url("../images/background-trees.svg");
    z-index: -13;
}

/* hills */
.jungle-decoration.hills {
    height: 90vh;
    background-image: url("../images/background-hills.svg");
    z-index: -14;
}

/* border */
.jungle-border {
    position: fixed;
    top: 0;
    width: 50vmin;
    height: 50vmin;
    
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    
    z-index: -10;
}

.jungle-border.left {
    left: 0;
    background-image: url("../images/jungleborder-left.svg");
}

.jungle-border.right {
    right: 0;
    background-image: url("../images/jungleborder-right.svg");
}

