/*-----------------------------------------------------------------------------
 * Cascading Style Sheet for the Jungle Theme
 *
 * @author  Niels Billen
 * @version 0.1
 *---------------------------------------------------------------------------*/

body {
    background-color: rgb(221,248,255);
    background-image: url("../images/jungle.svg");
    background-size: contain;
    background-repeat: repeat-x;
    background-position: bottom;
}

/* wooden frame background decorations */
.panel {
    background-image: url("../images/woodenframe.svg");
    background-repeat: repeat-x;
    background-size: contain;
}

/* border */
.theme-border {
    position: fixed;
    top: 0;
    width: 50vmin;
    height: 50vmin;
    
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    
    -webkit-transform:translateZ(-100px);
    -moz-transform:translateZ(-100px);
    -o-transform:translateZ(-100px);
    transform:translateZ(-100px);
    z-index:-100;
}

.theme-border.left {
    left: 0;
    background-image: url("../images/jungleborder-left.svg");
}

.theme-border.right {
    right: 0;
    background-image: url("../images/jungleborder-right.svg");
}

