.operand {
    min-width: 6vmin;
    height: 6vmin;
    color: white;
}

.unknown {
    border-radius: 1vmin;
    background-color: white;
    color: black;
}

.outline-black {
    text-shadow: 
         1px  1px 0 black,
         1px -1px 0 black,
        -1px -1px 0 black,
        -1px  1px 0 black;
}

.outline-white {
    text-shadow: 
         1px  1px 0 white,
         1px -1px 0 white,
        -1px -1px 0 white,
        -1px  1px 0 white;
}

.correct {
    color: lime;
}

.wrong {
    color: red;
}

.evaluation {
    margin-left: 4vmin;
    margin-right: 4vmin;
    text-align: center;
}
