#results-container {
    flex: 1;
    padding: 2vmin;
    margin: 2vmin;
    background-color: saddlebrown;
    border-radius: 2vmin;
    
    overflow-y: auto;
}

#button-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#back {
    font-size: 4vmin;
    color:  white;
    padding: 2vmin;
    margin: 2vmin;
    background-color: saddlebrown;
    border-radius: 2vmin;
    cursor: pointer;
}

#score {
    font-size: 4vmin;
    color:  white;
    padding: 2vmin;
    margin: 2vmin;
    background-color: saddlebrown;
    border-radius: 2vmin;
}

table {
}

td {
    font-size: 5vmin;
    color:  white;
}

.operand {
    min-width: 7vmin;
    height: 7vmin;
    color: white;
}

.unknown {
    border-radius: 1vmin;
    background-color: white;
    color: black;
}

.correct {
    color: lime;
}

.wrong {
    color: red;
}

.evaluation {
    margin-left: 4vmin;
    margin-right: 4vmin;
    text-align: right;
}

/* class which centers its content */
.center {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}