#settings-version {
    padding: 1vmin 8vmin;
    margin: 0.5vmin;    
}


.button {
    min-width: 4.5vmin;
    height: 4.5vmin;
}

.type {
    padding: 2vmin;
}

.unknown {
    margin: 0vmin 1vmin;
    min-width: 6vmin;
    height: 6vmin;
    color: black;
    background-color: white;
    border-radius: 1vmin;
}