#version {
    flex: 1;
}

#update {
    padding: 0vmin 4vmin;
    cursor: pointer;
}

.button {
    min-width: 4.5vmin;
    height: 4.5vmin;
}

.type {
    padding: 2vmin;
}

.unknown {
    margin: 0vmin 1vmin;
    min-width: 6vmin;
    height: 6vmin;
    color: black;
    background-color: white;
    border-radius: 1vmin;
}

.unknown:first-child {
    margin-left: 0;
}

.unknown:last-child {
    margin-right: 0;
}