/* font definition for bold fonts */
@font-face {
    font-family: raleway-bold;
    src: url("fonts/Roboto-Black.ttf");
}

/* font definition for regular fonts */
@font-face {
    font-family: raleway-regular;
    src: url("fonts/Raleway-Light.ttf");
}

html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

/* body styling */
body {
    display: flex;
    flex-direction: column;
    
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
    font-family: "raleway-bold";
    
    background-color: rgb(228,232,229);
    background-image: url("images/tree.svg");
    background-size: contain;
    background-repeat: repeat-x;
    background-position: bottom;
}

/* header */
header {
    position: fixed;
    left: 1vmin;
    top: 1vmin;
    padding: 1vmin 3vmin;
    
    text-align: center;
    font-size: 6vmin;
    font-family: "raleway-bold";
    color: white;
}

#score {
    position: fixed;
    right: 1vmin;
    top: 1vmin;
    padding: 1vmin 3vmin;
    
    text-align: center;
    font-size: 6vmin;
    font-family: "raleway-bold";
    color: white;
}

/* class which centers its content */
.center {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

#monkey {
    position: relative;
    overflow: hidden;
    top: 24vmin;
    
    width: 24vmin;
    height: 24vmin;
    transform: translateX(0);
    z-index: -100;
    
    background-image: url("images/monkey-thinking.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    
    animation-name: monkey-animation-start;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-timing-function: linear;
    animation-fill-mode: both;
}

#exercise-wrapper {
    flex: 1;
    flex-direction: column;
}

#exercise {
    padding: 2vmin 2vmin;
    min-height: 24vmin;
}

.exercise-operand {
    min-width: 16vmin;
    font-size: 14vmin;
    color: white;
}

#exercise-input {
    min-width: 18vmin;
    height: 18vmin;

    border-radius: 4vmin;
    background-color: white;
    color: black;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@keyframes monkey-animation-start {
    0% {
        top: 24vmin;
    }
    100% {
        top: 1vmin;
    }
}

@keyframes monkey-animation-correct {
    0% {
        top: 1vmin;
    }
    12.5% {
        top: 4vmin;
    }
    25% {
        top: 1vmin;
    }
    37.5% {
        top: 4vmin;
    }
    50% {
        top: 1vmin;
    }
    62.5% {
        top: 4vmin;
    }
    75% {
        top: 1vmin;
    }
    87.5% {
        top: 4vmin;
    }
    100% {
        top: 1vmin;
    }
}

@keyframes monkey-animation-wrong {
    0% {
        top: 1vmin;
    }
    30% {
        top: 3vmin;
        transform: rotate(5deg);
    }
    90% {
        top: 4vmin;
        transform: rotate(8deg);
    }
    100% {
        top: 1vmin;
    }
}