/* font definition for bold fonts */
@font-face {
    font-family: raleway-bold;
    src: url("fonts/Roboto-Black.ttf");
}

/* font definition for regular fonts */
@font-face {
    font-family: raleway-regular;
    src: url("fonts/Raleway-Light.ttf");
}

html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* body styling */
body {
    display: flex;
    flex-direction: column;
    
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
    font-family: "raleway-bold";
    font-size: 14vmin;
    background-color: rgb(228,232,229);

    background-image: url("images/tree.svg");
    background-size: contain;
    background-repeat: repeat-x;
    background-position: bottom;
}

/* header */
header {
    position: fixed;
    left: 1vmin;
    top: 1vmin;
    padding: 1vmin 3vmin;
    
    text-align: center;
    font-size: 8vmin;
    font-family: "raleway-bold";
    background-image: url("images/woodenframe.svg");
    background-repeat: repeat-x;
    background-size: contain;
    color: white;
    
    /*
    margin: 1vmin;
    margin-right: auto;
    padding: 1vmin 8vmin;*/
}

.center {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

@keyframes monkey-animation{
    from {
        top: 21vmin;
        visibility: visible;
    }
    to {
        top: 1vmax;
        visibility: visible;
    }
}

#monkey {
    position: relative;
    visibility: hidden;
    overflow: hidden;
    
    width: 24vmin;
    height: 24vmin;
    transform: translateX(0);
    z-index: -100;
    
    background-image: url("images/monkey-thinking.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    
    animation-name: monkey-animation;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.jungle-grass {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 16vmax;
    background-image: url("images/grass.svg");
    background-size: contain;
    background-repeat: repeat-x;
    z-index: -10;
}

.jungle-border {
    position: fixed;
    top: 0;
    width: 40vmax;
    height: 40vmax;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1000;
}

.jungle-border.left {
    left: 0;
    background-image: url("images/jungleborder-left.svg");
}

.jungle-border.right {
    right: 0;
    background-image: url("images/jungleborder-right.svg");
}

#exercise-wrapper {
    flex: 1;
    flex-direction: column;
}

#exercise {
    padding: 2vmin 2vmin;
    min-height: 24vmin;
    background-image: url("images/woodenframe.svg");
    background-repeat: repeat-x;
    background-size: contain;
}

.exercise-operand {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    min-width: 16vmin;
    color: white;
}

#exercise-input {
    width: 18vmin;
    height: 18vmin;
    border-radius: 4vmin;
    background-color: white;
    color: black;
    text-align: center;
}

.correct {
    color: lime;
}

.wrong {
    color: red;
}

#keyboard {
    background-image: url("images/woodenframe.svg");
    background-size: contain;
    background-repeat: repeat-x;
        
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1vmin;
}

.keyboard-button {
    font-size: 7vmin;
    color: white;
    background-color: burlywood;
    border-radius: 2.5vmin;
    
    min-width: 8vmin;
    min-height: 8vmin;
    margin: 1vmin;
    padding: 1vmin;
}