/* font definition for bold fonts */
@font-face {
    font-family: raleway-bold;
    src: url("fonts/Roboto-Black.ttf");
}

html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

/* body styling */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    
    font-family: "raleway-bold";
    
    background-color: rgb(228,232,229);
    background-image: url("images/tree.svg");
    background-size: contain;
    background-repeat: repeat-x;
    background-position: bottom;
}

header {
    font-size: 8vmin;
    color: white;
    
    padding: 1vmin 6vmin;
    margin: 1vmin;
    margin-bottom: 4vmin;
}

#settings-container {
    padding: 2vmin;
    margin: 1vmin;
    background-color: saddlebrown;
    border-radius: 2vmin;
}

#settings-version {
    position: absolute;
    right: 1vmin;
    bottom: 1vmin;
    
    color: white;
    padding: 0.5vmin;
    margin-top: 2vmin;
    font-size: 4vmin;
    
}

.setting {
    margin: 1vmin;
}

.button-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.settings-button {
    border: 1vmin solid burlywood;
    color: white;
    font-size:4vmin;
    
    background-color: burlywood;
    border-radius: 2.5vmin;
    
    min-width: 6vmin;
    min-height: 6vmin;
    margin: 1vmin;
    padding: 1vmin;
    
    cursor: pointer;
    
    animation-duration: 0.2s;
    animation-timing-function: ease-out;
}

.selected {
    background-color: sandybrown;
    border: 1vmin solid chocolate;
}

label {
    color: white;
    font-size: 4vmin;
}

#back-button {
    text-align: center;
    font-size: 5vmin;
    color: white;
    background-color: burlywood;
    border-radius: 2.5vmin;
    
    margin: 2vmin 2vmin;
    padding: 1vmin;
    
    cursor: pointer;
}

#back-button:hover{
    background-color: sandybrown;
}

/* class which centers its content */
.center {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}